/*Стили для шапки*/
.header {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    margin-top: 92px;
    padding: 0px 26px;
    margin-right: 0px;
    gap: 0px;
    align-items: center;
    align-content: center; 
 }

.navigation-conteiner {
    margin: 39px 0px 42px 25px;
 }

.menu-container {
    display: flex;
    width: 100%;
    gap: 32px;
    list-style: circle;
    word-spacing: 1px;
 }

.menu-li-text {
    line-height: 22px;
    padding: 0px;
    text-align: left;
    font-weight: 400;
 }

.menu-link-info {
    text-decoration: none;
 }

.menu-link-active:active{
    text-decoration: none;
    border: none;
 }

.menu-li_no-list-style{
    list-style: none;
 }

/*Стиль логотипа*/

.header_logo {
    background-image: url(../images/logo-black.svg);
    width: 148px;
    height: 105px;
    cursor: default;
    display: block;
    background-repeat: no-repeat;
 }


/*Стиль контейнера Адрессации*/

.contact_info-link-decoration {
    width: fit-content;
 }

.contact_info {
    cursor: pointer;
    display: inline-block;
    justify-self: flex-end;
    width: 264px;
    text-decoration: none;
    list-style: none;
    font-style: normal;
 }

 .contact_info-link {
    letter-spacing: 0.2px;
 }

/*Общие стили для головы*/

.menu-container,
.contact_info-link,
.contact_info,
.contact_info-text {
    font-size: 18px;
    line-height: 24.3px;
    text-decoration: none;
 }

 .menu-li-text,
 .contact_info-link-decoration,
 .lots-more-link {
    border-bottom: 1.5px solid;    
 }

/*Стили для контейнера (main)*/

.main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin-top: 96px;
    margin-bottom: 179px;
    gap: 146px;
 }

/*Стили Первого блока*/

.cover {
    background-image: url(../images/cover.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 135px;
    padding: 165px 50px 51px;
 }

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.6);
    inset: 0;
 }

.cover-subline-button,
.cover_title {
    z-index: 3;
 }

.cover_title {
    display: inline-flex;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
    flex-direction: column;
    gap: 20px;
 }

.letter-spacing-extended {
    letter-spacing: 60px;
 }

.no-letter-spacing {
    letter-spacing: 0px;
 }

.aligned-text-center,
.aligned-text-right {
    line-height: 100px;    
 }

.aligned-text {
    display: block;
    line-height: 115px;
 }

.aligned-text-center {
    text-align: center;
 }

.aligned-text-right {
    text-align: end;
 }

/*---Кнокпа и подпись в контейнере COVER---*/

.cover-subline-button {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 78px;
    width: 100%;
    align-items: baseline;
 }

.subline {
    text-wrap: nowrap;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18.5px;
    margin-left:28px;
 }

.cover-button {
    background-color: transparent;
    font-size: 22px;
    border: 1px solid white;
    width: 256px;
    height: 51px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: inherit;
 }

 .subline,
 .cover_title,
 .cover-button {
    color: white;
 }
/*---Стили для 2-го контейнера---*/

.lots_conteiner {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 27px;
    margin: 33px 24px 0px 24px;
 }

.lots_title {
    font-size: 40px;
    line-height: 47px;
    margin-left: 40px;
    -webkit-text-stroke: 1px;
 }

.lots {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
 }

.link-lots-card {
    display: block;
    position: relative;
    min-width: 334px;
    min-height: 563px;
 }

 .link-lots-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.6);
    inset: 0;
 }

/*---настройка картиночек для лотов---*/

.first-img{
    background-image: url(../images/card-lot-01.jpg);
 }

.second-img{
    background-image: url(../images/card-lot-02.jpg);
 }

.third-img {
    background-image: url(../images/card-lot-03.jpg);
 }

.first-img,
.second-img,
.third-img,
.cover {
    background-size: cover;
    background-position: top;
 }

.lots-more-link {
    width: fit-content;
    line-height: 24px;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
 }

 .link-lots-style {
    text-decoration: none;
 }

/*---Оформление текста для лотов---*/

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px 45px 40px;
}

.article-titel {
    font-size: 22px;
    line-height: 120%;
    font-style: normal;
    text-decoration: underline;
 }

.article-text {
    font-weight: 100;
    max-height: 360px;
    font-size: 20px;
    line-height: 120%;
 }

 .article-text,
 .article-titel {
    position: relative;
    z-index: 3;
    color: white;
 }

 .lots_title,
 .article-titel {
    text-transform: uppercase;
 }
/*---Стили для 3-го контейнера---*/

.about {
    padding: 0px 24px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 13px;
 }

.logo-column {
    display: flex;
    margin: 37px 0px 0px 47px;
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    background-image: url(../images/logo-white.svg);
    background-repeat: no-repeat;
    background-size: 148px 114px;
    background-position: center;
 }

.about-column {
    margin: 142px 0px 2px 0px;
    display: flex;
    gap: 100px;
    flex-direction: column;
 }

.about-title {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 40px;
 }

.description-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 3px;
 }

.description {
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.2px;
 }

/*---Стиля для подвала ---*/

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 0px 50px 88px 50px;
 }

.footer_contacts {
    justify-self: left;
    width: auto;
 }

.footer_menu {
    display: inline-block;
    font-size: 18px;
    list-style: none;
 }

 .footer_menu-center {
    display: block;
    margin: 0px auto;
    width: fit-content;
    line-height: 19.5px;
    padding-bottom: 1px;
 }

.nav-style-footer {
    margin: 0px 185px;
    width: 149px;
 }

.socials-container {
    list-style: none;
    display: flex;
    width: 240px;
    gap: 48px;
 }

.icons-socials {
    display: block;
    height: 48px;
    width: 48px;
 }
